body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  background: linear-gradient(to bottom, #d4e3ff, #eac7ff);
  margin-bottom: 10px;
  border-radius: 20px;
}
.navbar h1 {
  font-size: 30px;
}
.navitems {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 600;
}
/* banner section */
.banner {
  background: #f4d873;
  display: flex;
  justify-content: space-between;
  padding: 40px 200px 0 200px;
  margin-bottom: 20px;
}
.bannerImg {
  height: 500px;
  margin-top: 10px;
}
.banner-title {
  font-size: 50px;
}
.banner-button {
  background-color: darkorange;
  padding: 18px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

/* feature section */

.feature-img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-feature {
  width: 160px;
  height: 200px;
  padding: 80px 60px 0 60px;
  border-radius: 140px 140px 0 0;
}
#img-feature-1 {
  background-color: #f4d873;
}
#img-feature-2 {
  background-color: #a3efea;
}
#img-feature-3 {
  background-color: #91c5c9;
}

.feature-img-container p {
  text-align: center;
  font-weight: 600;
}
.feature-title-description {
  text-align: center;
}
.feature-title {
  font-size: 35px;
}

/* hot deal section */

.hot-deal {
  background: #fdf1c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 200px 0 200px;
  text-align: center;
  margin-bottom: 20px;
}
.deal-title {
  font-size: 40px;
}
.deal-button {
  background-color: darkorange;
  padding: 12px 18px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.instagram-title-description {
  text-align: center;
}
.insta-title {
  font-size: 35px;
}
.insta-img {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 40px;
  padding: 40px;
}
.insta-img img {
  width: 300px;
}

/* latest deal section */

.latest-deal-title-description {
  text-align: center;
}
#latest-title {
  font-size: 35px;
}
.latest-deal-section {
  background-image: url("asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  margin: 80px 110px;
}
.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
#email-input {
  padding: 20px 280px 20px 20px;
  border: 0;
  border-radius: 10px;
  background: #cde7e6;
}
#btn-submit {
  background-color: darkorange;
  padding: 20px 18px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

/* footer section */
.footer {
  background-color: #3b3a3a;
  color: white;
  padding: 70px;
  text-align: center;
}
.footer p {
  color: rgb(205, 205, 205);
}
.footer span {
  color: #e55473;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog {
  width: 330px;
  background: #cbd6da;
  padding: 20px;
  border-radius: 20px;
  margin: 40px;
}
.blog-title-and-description {
  text-align: center;
  margin-bottom: 10px;
}
.blog-title-and-description h1 {
  font-size: 35px;
}

.blog img {
  height: 220px;
  border-radius: 20px;
}
.blog1 {
  background: #fee4a8;
}
.blog2 {
  background: #c0e5f8;
}
.blog3 {
  background: #cde7e6;
}

.blog p {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
}
.blog-btn {
  background-color: darkorange;
  padding: 12px 140px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}
